.comments {
  border-bottom: 1px solid rgba(116, 114, 114, 0.534);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 5px;
}

.comments p {
  margin: 0;
}

.comment-by,
.display-user {
  color: rgb(102, 101, 101);
  font-size: 15px;
}

.comment,
.display-comment {
  color: rgb(0, 0, 0);
  font-size: 12px;
}

.delete-comment {
  color: rgb(133, 131, 131);
  font-size: 11px;
}

.comment-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
}

.add-comment {
  width: 80%;
  margin-right: 0px;
}

.send-comment {
  margin-right: 0px;
  margin-left: 0;
}

.comment-submit {
  box-shadow: inset 0px 1px 0px 0px #dcecfb;
  background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  background-color: #bddbfa;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  cursor: pointer;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
  outline: none;
}
.comment-submit:hover {
  background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
  background-color: #80b5ea;
}
.comment-submit:active {
  position: relative;
  top: 1px;
}
