/* Forms  */

article {
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  width: 80%;
  background-color: #f8f8f8;
  height: 30px;
  border-bottom: 1px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  /* border-radius: 10px; */
}

form label {
  width: 80%;
  text-align: left;
}
form textarea {
  width: 80%;
  background-color: #8b8b8b;
  border-radius: 10px;
  border: none;
}
h2,
h1 {
  text-align: center;
}

@media (min-width: 650px) {
  .form-box form input {
    width: 600px;
  }
  .form-box textarea {
    width: 600px;
  }
  .form-box label {
    width: 600px;
  }
}
