/* In this file you can add your custom styles. */
* {
  font-family: "Poppins", sans-serif;
}
.avatar {
  width: 100px;
  height: 100px;
}
.post {
  width: 100px;
  height: 100px;
}

.post-container {
  border: 1px solid black;
  width: 50%;
}

button {
  border: 1px solid red;
}
