.preview-image-wrapper {
  margin: 0 auto;
  width: 90vw;
  height: 20em;
  overflow: hidden;
  margin: 1em;
}
.preview-image {
  object-fit: cover;
  width: 100vw;
  height: 100vw;
}
.select-filter {
  margin-right: 1em;
  width: 7em;
  height: 7em;
  overflow: hidden;
  display: block;
  /* position: relative; */
}
.select-filter .preview-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.filters-wrapper {
  margin: 0 auto 1em;
  height: 10em;
  width: 90vw;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-x: auto;
  align-items: flex-end;
}
.filters-wrapper small {
  display: inline-block;
  width: 7em;
  text-align: left;
}

/* hide radio */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}

[type="radio"] + img {
  cursor: pointer;
}

[type="radio"]:checked + img {
  border-bottom: 5px solid rgb(245, 135, 122);
}
