/* Post */
.like-icon {
  width: 20px;
  height: 20px;
}

.title-content-box {
  width: 100%;
  padding-left: 10px;
}

.title-post {
  font-size: 16px;
  margin-bottom: 0px;
}
.content {
  margin-top: 5px;
  font-size: 12px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.avatar-small {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post {
  width: 100px;
  height: 100px;
}

.new-post {
  width: 100px;
}

.post-container {
  border: 1px solid black;
  background-color: #f8f8f8;
  box-shadow: 4px 3px 8px 1px #969696;
  margin-top: 15px;
  margin-bottom: 15px;
}

.about-post {
  display: flex;
  justify-content: space-between;
}

.post-img {
  width: 100%;
  height: 400px;
}

.edit-post-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.posts-wrapper {
  padding-bottom: 50px;
}

/* Edit post */
.edit-img {
  width: 70%;
  height: 200px;
}

.edit-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-post-title {
  text-align: left;
  width: 70%;
  margin: 0;
  font-size: 16px;
}

.edit-post-para {
  font-size: 14px;
  margin: 0;
  text-align: left;
  width: 70%;
}

.date {
  color: grey;
  font-size: 11px;
  margin-left: 10px;
}

.edit-post {
  margin-right: 10px;
  margin-bottom: 10px;
}

.like-form {
  display: flex;
  align-items: center;
  height: 50px;
}

.edit-btn {
  box-shadow: inset 0px 1px 0px 0px #dcecfb;
  background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  background-color: #bddbfa;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  /* display: inline-block; */
  cursor: pointer;
  color: #ffffff;
  /* font-family: Arial; */
  font-size: 12px;
  font-weight: bold;
  padding: 4px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
  outline: none;
}
.edit-btn:hover {
  background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
  background-color: #80b5ea;
}
.edit-btn:active {
  position: relative;
  top: 1px;
}

.delete-btn {
  margin-top: 10px;
  box-shadow: inset 0px 1px 0px 0px #e3e3e3;
  background: linear-gradient(to bottom, #e3e6e8 5%, #82898f 100%);
  background-color: #e3e6e8;
  border-radius: 6px;
  border: 1px solid #c1c4c7;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  /* font-weight: bold; */
  padding: 4px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #38597a;
}
.delete-btn:hover {
  background: linear-gradient(to bottom, #82898f 5%, #e3e6e8 100%);
  background-color: #82898f;
}
.delete-btn:active {
  position: relative;
  top: 1px;
}

@media (min-width: 650px) {
  .posts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .post-container {
    width: 600px;
  }
  .post-img {
    height: 500px;
  }
  .edit-img {
    width: 400px;
    height: 300px;
  }
  .edit-post-container {
    width: 100%;
    align-items: center;
  }
  .edit-post-title,
  .edit-post-para {
    width: 400px;
  }
}
