/* Profile  */

.info-message {
  color: rgb(136, 136, 136);
  font-size: 12px;
}

.profile-info {
  display: flex;
  justify-content: space-between;
}

.profile-text {
  width: 50%;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.user-bio {
  margin-top: 0;
  font-size: 14px;
  color: rgb(54, 54, 54);
}

.author {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.author a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  margin-left: 10px;
  margin-top: 10px;
}

.edit-profile {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.logout,
.edit {
  font-size: 12px;
  text-decoration: none;
}

.avatar {
  margin-left: 10px;
}

@media (min-width: 650px) {
  .profile-info {
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
  /* .avatar {
    margin-right: 40px;
    margin-left: 150px;
  } */
}
